#container {
    position: relative;
    overflow: auto;
    -ms-scrollbar-base-color: #ffeaff;
    scrollbar-base-color: #ffeaff;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

#whiteBoard {
    border: 1px dashed #CCCCCC;
    margin: 0px;
    border-style: dotted;
    border-width: 1px;
    background-color: #FFFFFF;
    vertical-align: top;
    /*width: 100%;
    height: 100%;*/
}

#imageTemp {
    position: absolute;
    /*border: 1px dashed red;*/
    margin: 0px;
    border-style: dotted;
    border-width: 1px;
    top: 0px;
    left: 0px;
    /*width: 100%;
    height: 100%;*/
}

/*canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px dashed red;
}*/

/*.ui-widget-overlay {
    opacity: .70;
    filter: Alpha(Opacity=70);
}*/

.logout-text {
    color: #000;
}

.navbar {
    background-color: #4c87c6;
}

a.navbar-inverse, a.navbar-brand {
    color: #000000;
}

/*login window*/
.loginform {
    margin: 180px auto;
    text-align: center;
}

.login-form {
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.register-form {
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

/*.login-form label {
    font-size: 15px;
    height: 40px;
    padding: 0;
    font-weight: bold;
    margin-bottom: 0;
}*/

.login-form input {
    width: 250px;
    font-size: 15px;
    height: 40px;
}

.username-container, .password-container, .newuser-container {
    padding: 15px 15px 0;
    width: 100%;
}

    .username-container label, .password-container label {
        height: auto;
        width: 20%;
    }

    .username-container input, .password-container input {
        background-color: #e1e1e1;
        border: 1px solid grey;
        width: 75%;
    }

.login-btn {
    background-color: #4C87C6;
    border: 1px solid #4a4a4a;
    color: #FFFFFF;
    font-size: 15px;
    height: 40px;
    margin-top: 20px;
    width: 277px;
}

.newUser-btn {
    background-color: #4C87C6;
    border: 1px solid #4a4a4a;
    color: #FFFFFF;
    font-size: 15px;
    height: 40px;
    width: 277px;
    margin-left: 80px;
    margin-bottom: 15px;
}

.login-btn-container, .register-btn-container {
    padding-bottom: 20px;
    padding-left: 80px;
}

.logged-user {
    font-weight: bold;
}

.login-text {
    font-size: 16px;
    padding: 15px 0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}


