@{
    ViewBag.Title = "Student Whiteboard";
}

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
@Scripts.Render("~/bundles/signalr")
<script src="signalr/hubs">
</script>

@section scripts
{
    <script src="~/app/TheWhiteboard/theWhiteboard-module.js"></script>
    <script src="~/app/TheWhiteboard/theWhiteboard-data-repo.js"></script>
    <script src="~/app/TheWhiteboard/theWhiteboard-controller.js"></script>

    <script src="~/app/TheWhiteboard/theWhiteboardMain.js"></script>
    
    
    <script src="~/app/TheWhiteboard/line-directive.js"></script>

}

<style type="text/css">
    #container {
        position: relative;
        overflow: auto;
        -ms-scrollbar-base-color: #ffeaff;
        scrollbar-base-color: #ffeaff;
    }

    #whiteBoard {
        border: 1px dashed #CCCCCC;
        margin: 5px;
        border-style: dotted;
        border-width: 1px;
        background-color: #FFFFFF;
        vertical-align: top;
    }

    #imageTemp {
        position: absolute;
        top: 1px;
        left: 1px;
        margin: 5px;
    }

    #imageTempt {
        position: absolute;
        top: 1px;
        left: 1px;
        margin: 5px;
    }

    .ui-widget-overlay {
        opacity: .70;
        filter: Alpha(Opacity=70);
    }

    /*temp*/
    #secondaryWhiteBoard {
        border: 1px dashed #ff0000;
        margin: 5px;
        border-style: dotted;
        border-width: 1px;
        background-color: #FFFFFF;
        vertical-align: bottom;
        width: 700px;
        height: 400px;
    }
</style>

<div data-ng-app="theWhiteboardModule">
    <div data-ng-controller="theWhiteboardController">
        <h3> {{ WIDTH }} </h3>
        <h4> {{ drawObject }} </h4>

        <table width="100%" id="tableWhiteBoard">
            <tr>
                <td style="width: 80%">
                    <table style="vertical-align: top; width: 100%;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <img id="imgline" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px"
                                     src="/images/line_dim.png" onclick="SelectTool('line'); return false;" />
                                <img id="imgpencil" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px" 
                                     src="/images/pencil_dim.png" onclick="SelectTool('pencil'); return false;" />
                                <img id="imgrect" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px"
                                     src="/images/rect_dim.png" onclick="SelectTool('rectangle'); return false;" />
                                <img id="imgtext" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px"
                                     src="/images/text_dim.png" onclick="SelectTool('text'); return false;" />
                                <img id="imgerase" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px"
                                     src="/images/erase_dim.png" onclick="SelectTool('erase'); return false;" />
                                <img id="imgSave" style="border: 0; border-style: dashed; width: 32px; height: 32px"
                                     src="/images/save.png" onclick="SaveDrawings(); return false;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;">
                                <div id="container" style="width: 800px; height: 420px">
                                    <canvas id="whiteBoard"></canvas>
                                    <div id="status">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: bottom;">
                                <div>
                                    <canvas id="secondaryWhiteBoard"
                                            data-line-directive
                                            data-kinetic-obj="false"
                                            data-kinetic-stage-obj="false"></canvas>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

