<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://thewhiteboard.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>thewhiteboard.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>thewhiteboard</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$thewhiteboard</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TheWhiteboardEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:h1uqtb7nxt.database.windows.net,1433;Initial Catalog=whiteboard;Integrated Security=False;User ID=elod@h1uqtb7nxt;Password=editke#69;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheWhiteboard.Repository.TheWhiteboardEntities, TheWhiteboard" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TheWhiteboardProjectConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:h1uqtb7nxt.database.windows.net,1433;Initial Catalog=whiteboard;Integrated Security=False;User ID=elod@h1uqtb7nxt;Password=editke#69;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheWhiteboard.Models.ApplicationDbContext, TheWhiteboard" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TheWhiteboardEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Repository.TheWhiteboardDbModel.csdl|res://*/Repository.TheWhiteboardDbModel.ssdl|res://*/Repository.TheWhiteboardDbModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:h1uqtb7nxt.database.windows.net,1433;Initial Catalog=whiteboard;Integrated Security=False;User ID=elod@h1uqtb7nxt;Password=editke#69;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TheWhiteboardProjectConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:h1uqtb7nxt.database.windows.net,1433;Initial Catalog=whiteboard;Integrated Security=False;User ID=elod@h1uqtb7nxt;Password=editke#69;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TheWhiteboardProjectConnection" />
  </ItemGroup>
</Project>